/* PORTFOLIO PAGE */

/*  MEDIA 1315px  */

@media (max-width: 1315px) {
  .header-title {
    font-size: 6rem;
    max-width: fit-content;
  }
  .container-card-text {
    font-size: 2.4rem;
  }
  .container-card-number {
    font-size: 4rem;
    width: 8rem;
    height: 8rem;
  }
  .container-card-title {
    font-size: 4rem;
  }
  .card-img {
    width: 50%;
    height: 25rem;
  }

  .card-img img {
    width: 50%;
  }

  .cross {
    width: 5rem;
    height: 5rem;
  }

  .container-card-description {
    font-size: 2.3rem;
  }

  .btn-scrolling {
    width: 4rem;
    height: 4rem;
  }
}

/*  MEDIA 1150px  */

@media (max-width: 1150px) {
  .container-card {
    row-gap: 12rem;
    column-gap: 2rem;
    margin-left: 4rem;
    margin-right: 0rem;
    margin-top: 7rem;
  }

  .card-img img {
    width: 37%;
  }

  .container-card-description {
    font-size: 2rem;
  }

  .container-card-title {
    font-size: 3.5rem;
  }

  .header-title {
    font-size: 4.5rem;
  }
  .card-img {
    width: 64%;
    height: 21rem;
  }

  .btn-scrolling {
    display: none;
  }
}

/*  MEDIA 900px  */

@media (max-width: 900px) {
  .header-title {
    color: var(--color-white);
    letter-spacing: 1.75px;
    font-weight: 700;
    animation: letter-animation-mobile ease-in-out 1s forwards;
    text-transform: uppercase;
  }

  @keyframes letter-animation-mobile {
    0% {
      transform: translateX(-1200px);
    }
    100% {
      margin: auto 0;
      text-decoration: underline 4px var(--color-primary);
      transform: translate(40%, 0);
      font-size: 3rem;
    }
  }

  .container-card {
    row-gap: 7rem;
    column-gap: 2rem;
    margin-left: 4rem;
    margin-right: 1rem;
    margin-top: 6rem;
  }
  .card-img {
    width: 66%;
    height: 15rem;
  }

  .cross {
    width: 4rem;
    height: 4rem;
  }

  .kanap img {
    height: 70%;
  }

  .kanap {
    width: 66%;
  }

  .container-card-number {
    font-size: 2.3rem;
    width: 5rem;
    height: 5rem;
  }

  .card-img a {
    width: 100%;
    height: 10rem;
  }
  .container-card-description {
    font-size: 1.8rem;
  }

  .header-title {
    font-size: 2.8rem;
  }

  .btn-scrolling {
    display: none;
  }
}

/*  MEDIA 855px  */

@media (max-width: 855px) {
  .container-card {
    row-gap: 12rem;
    column-gap: 5rem;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 5rem;
  }

  .card-img {
    width: 72%;
    height: 19rem;
  }
}

/*  MEDIA 735px  */

@media (max-width: 735px) {
  .container-card {
    margin: 3rem 2rem 2rem 4rem;
    row-gap: 8rem;
    column-gap: 2rem;
  }
  .container-card-description {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.2;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
  }

  .cross {
    width: 3rem;
    height: 3rem;
  }

  .card-img img {
    width: 49%;
  }

  .kanap img {
    height: 88%;
  }

  .header-title {
    font-size: 3rem;
  }
}

/*  MEDIA 700px  */

@media (max-width: 700px) {
  .btn-mobile-nav {
    margin-top: 1rem;
  }

  .container-card {
    margin: 5rem 2rem 7rem 2rem;
  }

  .btn-scrolling {
    bottom: -50px;
  }

  .container-card-title {
    font-size: 3rem;
  }

  .card-img {
    width: 100%;
  }
}

/*  MEDIA 680px  */

@media (max-width: 680px) {
  .btn-mobile-nav {
    position: relative;
    width: 3.8rem;
    height: 3.8rem;
    margin-top: 1rem;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav-link::after {
    content: none;
    display: none;
  }

  .main-nav-link:hover::after {
    content: none;
    display: none;
  }
  .header-title {
    animation: none;
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-shadow: 2px 0px 1px var(--text-shadow);
    text-underline-offset: 6px;
    top: 9px;
    left: 15px;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: 2px;
    position: absolute;
    font-size: 2rem;
  }

  .container-card {
    padding-top: 7rem;
    margin: 4rem 2rem 7rem 2rem;
  }

  .main-nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0rem 1rem;
  }

  .main-nav-list {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 5rem;
  }

  .main-nav-list a {
    font-size: 2rem;
  }

  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }

  .icon-mobile-nav[name="menu-outline"] {
    display: block;
  }
}

/*  MEDIA 573px  */

@media (max-width: 573px) {
  .container-card-description {
    font-size: 1.7rem;
  }

  .container-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
  }
  .card-img {
    width: 60%;
  }

  .omnifood {
    grid-row: 4 / 5;
  }
  .main-nav-list a {
    font-size: 1.5rem;
  }
}
