/* PORTFOLIO PAGE */


/*  MEDIA 1315px  */

@media (max-width: 1315px) {
  .header-title {
    font-size: 6rem;
    max-width: fit-content;
  }
  .container-card-text {
    font-size: 2.4rem;
  }
  .container-card-number {
    font-size: 4rem;
    width: 8rem;
    height: 8rem;
  }
  .container-card-title {
    font-size: 4rem;
  }
  .card-img {
    width: 50%;
    height: 25rem;
  }

  .card-img img {
    width: 50%;
  }

  .cross {
    width: 5rem;
    height: 5rem;
  }

  .container-card-description {
    font-size: 2.3rem;
  }

  .btn-scrolling {
    width: 4rem;
    height: 4rem;
  }
}


/*  MEDIA 1150px  */

@media (max-width: 1150px) {
  .container-card {
    row-gap: 12rem;
    column-gap: 2rem;
    margin-left: 4rem;
    margin-right: 0rem;
    margin-top: 12rem;
  }

  .card-img img {
    width: 37%;
  }

  .container-card-description {
    font-size: 2rem;
  }

  .container-card-title {
    font-size: 3.5rem;
  }

  .header-title {
    font-size: 4.5rem;
  }
  .card-img {
    width: 64%;
    height: 21rem;
  }

  .btn-scrolling {
    display: none;
  }
}


/*  MEDIA 900px  */

@media (max-width: 900px) {
  .header-title {
    color: var(--color-white);
    letter-spacing: 1.75px;
    font-weight: 700;
    animation: letter-animation-mobile ease-in-out 1s forwards;
    text-transform: uppercase;
    position: relative;
  }

  @keyframes letter-animation-mobile {
    0% {
      transform: translateX(-1200px);
    }
    100% {
      margin: auto 0;
      text-decoration: underline 4px var(--color-primary);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 18%;
      left: 50%;
      font-size: 3rem;
    }
  }

  .container-card {
    row-gap: 7rem;
    column-gap: 2rem;
    margin-left: 4rem;
    margin-right: 1rem;
    margin-top: 30rem;
  }
  .card-img {
    width: 66%;
    height: 15rem;
  }

  .cross {
    width: 4rem;
    height: 4rem;
  }

  .kanap img {
    height: 70%;
  }

  .kanap {
    width: 66%;
  }

  .container-card-number {
    font-size: 2.3rem;
    width: 5rem;
    height: 5rem;
  }

  .card-img a {
    width: 100%;
    height: 10rem;
  }
  .container-card-description {
    font-size: 1.8rem;
  }

  .header-title {
    font-size: 2.8rem;
  }

  .btn-scrolling {
    display: none;
  }
}

/*  MEDIA 855px  */

@media (max-width: 855px) {
  .container-card {
    row-gap: 12rem;
    column-gap: 5rem;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 30rem;
  }

  .card-img {
    width: 72%;
    height: 19rem;
  }
}

/*  MEDIA 735px  */

@media (max-width: 735px) {
  .container-card {
    margin: 22rem 2rem 2rem 4rem;
    row-gap: 8rem;
    column-gap: 2rem;
  }
  .container-card-description {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.2;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
  }

  .cross {
    width: 3rem;
    height: 3rem;
  }

  .card-img img {
    width: 49%;
  }

  .kanap img {
    height: 88%;
  }

  .header-title {
    font-size: 3rem;
  }
}

/*  MEDIA 700px  */

@media (max-width: 700px) {
  .btn-mobile-nav {
    margin-top: 1rem;
  }

  .container-card {
    margin: 22rem 2rem 2rem 2rem;
  }

  .btn-scrolling {
    bottom: -50px;
  }

  .container-card-title {
    font-size: 3rem;
  }

  .card-img {
    width: 100%;
  }
}

/*  MEDIA 500px  */

@media (max-width: 500px) {
  .header-title {
    font-size: 2rem;
  }
  .main-nav-link::after {
    content: none;
    display: none;
  }

  .main-nav-link:hover::after {
    content: none;
    display: none;
  }
  .header-title {
    animation: none;
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-underline-offset: 6px;
    position: absolute;
    top: 5px;
    left: 21px;
    font-size: 1.7rem;
  }

  .container-card {
    margin: 0rem 2rem 2rem 2rem;
    padding-top: 13rem;
  }
  .btn-mobile-nav {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 1rem;
  }

  .main-nav-list {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    list-style: none;
    border-radius: 4rem;
    width: max-content;
    padding: 1.5rem;
    display: none;
  }

  .main-nav-list a {
    font-size: 1.5rem;
  }

  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }

  .icon-mobile-nav[name="menu-outline"] {
    display: block;
  }
}

@media (max-width: 430px) {
  .main-nav-list a {
    font-size: 1.3rem;
  }
}
